{% load static %}
<html>
    <head>
        <title>Django App</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Application Blog</a></h1>
            <right><a href="{% url 'post_new' %}" class="top-menu"><h3>&#43;</h3></a></right>
        </div>
        <br>
         <div class="row">
        <div class="col-md-8">
            {% block content %}

            {% endblock %}
        </div>
    </div>
    </body>
</html>